version: '3.7'

services:
  cache:
    image: redis:6.2-alpine
    container_name: sample_redis_cache
    restart: always
    ports:
      - 6379:6379
    command: redis-server --loglevel warning --requirepass password
